<!-- Header Carousel -->

    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">El mejor servicio</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Reserva Inmediata</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="<%= reservacion_path %>" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Mejores Tarifas</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="<%= tarifas_path %>" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Mejores Rutas</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Rapido y Seguro</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="<%= nuestros_servicios_path %>" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <h3>Nuestros Servicios</h3>
            <ul class="list">
              <li><a href="#">Dpsum dolor sit ametteturing elit mollis<br>Proin pharetra luctus diam, a scelerisque</a></li>
              <li><a href="#">Fusce adipiscing quam id risus sagittisnst<br>Tiroin ut tincidunt nulla, eu sodales arcua</a></li>
              <li><a href="#">Nnulla nunc, eu ultrices liberocer ultricie<br>Hasellus accumsan justo vitae feugiat plac </a></li>
              <li><a href="#">Praesent vel ultrices veliuspendisse risususa<br>Vitae eleifend sed, cursus sit amet sastibul</a></li>
            </ul>
          </div>
          <div class="col-sm-4">

            <a href="<%= nuestros_vehiculos_url %>"><h3>Nuestra Flota</h3></a>

            <div class="row little-galery">
              <% @galeries.each do |g| %>
                  <div class="col-sm-4"><%= image_tag g.image.url(:thumb), class: "img-responsive" %> </div>
              <% end %>

            </div>

          </div>
          
        </div>



        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="<%= reservacion_path %>">Reservaciones</a>
                </div>
            </div>
        </div>

        <hr>


        </div>