<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Reserva</h1>
    <%= render_breadcrumbs("", { active_class: 'active' }) %>
  </div>
</div>


<%= simple_form_for @reservation,url: reserva_proceso_path, :html => { :class => '' } do |f| %>
<div class="row" style="margin-bottom:20px">
  <div class="col-sm-6">
    <%= f.input :origin_id, collection: @distritos, input_html: { class: 'postback' } %> 
    <%= error_span(@reservation[:origin_id]) %>
    <%= f.input :origin_street %>
    <%= error_span(@reservation[:origin_street]) %>
    
    <div class="text-right">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#miorigen">
          Mis Direcciones
        </button>
    </div>
    
  </div>
  <div class="col-sm-6">
    <%= f.input :destination_id, collection: @distritos, input_html: { class: 'postback' } %>
    <%= error_span(@reservation[:destination_id]) %>
    
    <%= f.input :destination_street %>
    <%= error_span(@reservation[:destination_street]) %>
    
    <div class="text-right">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#midestino">
          Mis Direcciones
        </button>
    </div>
      
    
    
  </div>
  <div class="col-sm-6 col-offset-sm-6">
    <%= f.input :pickuptime %>
    <%= error_span(@reservation[:pickuptime]) %>
  </div>
  <div class="col-sm-12">
    <% if @precio %>
    
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Origen: </strong> <%=@precio.origin_name%><br/>
            <strong>Destino: </strong> <%=@precio.destination_name%><br/>
            <strong>Hora de Recojo: </strong><%= @reservation.pickuptime  %>
          </td>
          <td>S/. <%=@reservation.price %></td>
        </tr>
      </tbody>
       <tfoot>
        <tr>
           <td class="text-right"><strong>I.G.V</strong></td>
           <td>S./ <%=@reservation.igv %></td>
        </tr>
        <tr>
           <td class="text-right"><strong>Total</strong></td>
           <td>S./ <%=@reservation.totalprice %></td>
        </tr>
       </tfoot>
    </table>
    
    <div class="text-right">
      <%= f.button :submit, :class => 'btn-success', :value => 'Reservar' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), reserva_proceso_path, :class => 'btn btn-default' %>  
    </div>
    
    
    <% end  %> 
  </div>
</div>

<div class="modal fade" id="miorigen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Origen Conocido</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td></td>
              <td>Distrito</td>
              <td>Direccion</td>
            </tr>
          </thead>
          <tbody>
            <% if !@streets  %>
            <tr>
              <tr>No tiene direcciones registradas</tr>
            </tr>
            <% else  %>
            
            <% @streets.each do |e|  %>
              <tr>
                <td><button type="button" data-district='<%=e.district.id%>' data-street = '<%=e.street%>' class="btn btn-info btn-xs btn-origen"><i class="fa fa-check"></i></button></td>
                <td><%=e.district_name%></td>
                <td><%=e.street%></td>
              </tr>
            <% end %>
            
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="midestino" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Destino Conocido</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td></td>
              <td>Distrito</td>
              <td>Direccion</td>
            </tr>
          </thead>
          <tbody>
            <% if !@streets  %>
            <tr>
              <tr>No tiene direcciones registradas</tr>
            </tr>
            <% else  %>
            
            <% @streets.each do |e|  %>
              <tr>
                <td><button type="button" data-district='<%=e.district.id%>' data-street = '<%=e.street%>' class="btn btn-info btn-xs btn-destino"><i class="fa fa-check"></i></button></td>
                <td><%=e.district_name%></td>
                <td><%=e.street%></td>
              </tr>
            <% end %>
            
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<% end %>


