<%= simple_form_for @reservation, :html => { :class => 'form-horizontal form-group' } do |f| %>


  <%= f.input :user_id, :placeholder=>'Nombres y apellidos',  label:'Nombres y Apellidos', input_html: { class:'form-control' } %>
  <%= error_span(@reservation[:user_id]) %>


  
  <%= f.label "Tipo de documento" %>
  <%= select_tag(:documenttypes_id, options_for_select(@documenttypes_options), :include_blank=> true , :class => "form-control"  ) %>
  


  <div>
  <h3>Información de origen</h3>
    
  <%= f.label "Distrito origen" %>
  <%= select_tag(:districts_id, options_for_select(@districts_options), :include_blank=> true , :class => "form-control"  ) %>    
    
    

  </div>
  
  <div>
  <h3>Información de destino</h3>
  <%= f.label "Distrito destino" %>
  <%= select_tag(:districts_id, options_for_select(@districts_options), :include_blank=> true , :class => "form-control"  ) %>  
  </div>




  <%= f.button :submit, :class => 'btn-primary', :value => 'Reservar'%>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), reservations_path, :class => 'btn btn-default' %>
  
<% end %>
