<%= simple_form_for @reservation, :html => { :class => 'form-horizontal form-group' } do |f| %>
  <%= f.input :user_id, :placeholder=>'Nombres y apellidos',  label:'Nombres y Apellidos', input_html: { class:'form-control' } %>
  <%= error_span(@reservation[:user_id]) %>


  
  <%= f.label :documenttypes_id %>
  <%= select_tag(:documenttypes_id, options_for_select(@documenttypes_options), :include_blank=> true , :class => "form-control"  ) %>
  
  <%= f.input :final_addres,  :placeholder=>'Teléfono', label:'Teléfono', input_html: { class:'form-control' } %>
  <%= error_span(@reservation[:final_addres]) %>
  
  <%= f.input :final_addres,  :placeholder=>'Nro Documento', label:'Nro. Documento', input_html: { class:'form-control' } %>
  <%= error_span(@reservation[:final_addres]) %>
  
  <%= f.input :final_addres,  :placeholder=>'Email', label:'Email', input_html: { class:'form-control' } %>
  <%= error_span(@reservation[:final_addres]) %>

  <div>
    <h3>Información de origen</h3>
    <%= f.input :source_addres, :placeholder=>'Distrito', label:'Distrito', input_html: { class:'form-control' } %>
    <%= error_span(@reservation[:source_addres]) %>
    <%= f.input :source_addres, :placeholder=>'Dirección origen', label:'Dirección', input_html: { class:'form-control' } %>
    <%= error_span(@reservation[:source_addres]) %>
  </div>
  
    <div>
    <h3>Información de destino</h3>
      <%= f.input :final_addres,  :placeholder=>'Distrito', label:'Distrito', input_html: { class:'form-control' } %>
      <%= error_span(@reservation[:final_addres]) %>
      <%= f.input :final_addres, :placeholder=>'Dirección destino', label:'Dirección', input_html: { class:'form-control' } %>
      <%= error_span(@reservation[:final_addres]) %>   
    </div>




  <%= f.button :submit, :class => 'btn-primary', :value => 'Reservar'%>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reservations_path, :class => 'btn btn-default' %>
<% end %>
