<%- model_class = Usuario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Nombres) %>:</strong></dt>
  <dd><%= @usuario.Nombres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ApPaterno) %>:</strong></dt>
  <dd><%= @usuario.ApPaterno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ApMaterno) %>:</strong></dt>
  <dd><%= @usuario.ApMaterno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Nick) %>:</strong></dt>
  <dd><%= @usuario.Nick %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              usuarios_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_usuario_path(@usuario), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              usuario_path(@usuario),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
