<p id="notice"><%= notice %></p>

<h1>Listing Useres</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Nick</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Identification number</th>
      <th>Emai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @useres.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.nick %></td>
        <td><%= user.password %></td>
        <td><%= user.phone %></td>
        <td><%= user.identification_number %></td>
        <td><%= user.emai %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
