<p id="notice"><%= notice %></p>

<p>
  <strong>Car brand:</strong>
  <%= @vehicle.car_brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Fabrication year:</strong>
  <%= @vehicle.fabrication_year %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @vehicle.serial_number %>
</p>

<p>
  <strong>Car brand:</strong>
  <%= @vehicle.car_brand %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
